package main

templ profileSelect() {
	@basehtmx("Select Spotify Profile") {
		<style>
			.login-center {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		</style>
		<div class="login-center">
			<div class="">
				Profile: 
				<input
					type="text"
					placeholder="Literally a placeholder for a future select element"
				/>
			</div>
		</div>
	}
}
